<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw-Sr2CIPWcGJgNeOV5Spzq3yWXIxRXdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1063175172274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hangang.clone.app.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-88980</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-88980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063175172274:ios:3b6c6485f040bfd9b119ab</string>
</dict>
</plist>